<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/../../css/styles.css">
    <meta charset="UTF-8">
    <title>BeltamozhHire</title>
</head>
<body>
<div class="navbar">
            <a th:href="@{/user/{user_id} (user_id=${user.getId()})}"><img class="logo" src="/../../img/logo.png"></a>
            <ul>
                <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/show_resumes(id=${user.getId()})}">Резюме</a></li>
                <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/vacancies(id=${user.getId()})}">Вакансии</a></li>
                <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/responds(id=${user.getId()})}">Ответы HR</a></li>
                <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/info(id=${user.getId()})}">Профиль</a></li>
                <li><a class="nav-text text-color-turquoise" th:href="@{/logout}">Выйти</a></li>
            </ul>
        </div>
<div class="content">
    <div class="center">
        <div class="box">
            <div class="resume-container">
                <div class="sub-container">
                    <form th:method="POST" th:action="@{create}" th:object="${resume}" autocomplete="off">
                        <div class="header-form-text">
                            <header class="text-color-turquoise">Создать</header>
                        </div>
                        <div class="input-field">
                            <label for="name">Название: </label>
                            <input class="input text-color-turquoise text-center" type="text"
                                   th:field="*{name}" id="name" placeholder="Введите название"/>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                        <br>
                        <div class="input-field">
                            <label for="name">Желаемая позиция: </label>
                            <input class="input text-color-turquoise text-center" type="text" th:field="*{desiredPosition}"
                                   id="desiredPosition" placeholder="Введите желаемаую позицию"/>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('desiredPosition')}"
                             th:errors="*{desiredPosition}">Desired position Error</div>
                        <br>
                        <div class="input-field">
                            <label for="skillLevel">Выберите уровень знаний: </label>
                            <select id="skillLevel" class="text-color-turquoise text-center"
                                    th:field="*{skillLevel}">
                                <div th:each="skillLevel : ${skillLevels}">
                                    <option class="text-color-turquoise text-center"
                                            th:value="${skillLevel.getId()}"
                                            th:text="${skillLevel.getName()}">
                                    </option>
                                </div>
                            </select>
                        </div>
                        <br>
                        <div class="input-field">
                            <label for="desiredSalary">Желаемая зарплата($): </label>
                            <input class="input text-color-turquoise text-center" type="number"
                                   th:field="*{desiredSalary}" id="desiredSalary" placeholder="Введите желаемую зарплату"/>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('desiredSalary')}"
                             th:errors="*{desiredSalary}">Desired salary Error</div>
                        <br>
                        <div class="input-field">
                            <label for="about">О себе: </label>
                            <textarea id="about" class="input text-color-turquoise text-center about-input"
                                      th:field="*{about}" placeholder="Введите информацию о себе"/>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('about')}" th:errors="*{about}">About Error</div>
                        <br>
                        <label>Выберите технологии которые знаете: </label>
                        <div th:each="technology :${technologies}">
                            <input type="checkbox"
                                   th:field="*{technologies}" th:value="${technology.getId()}"/>
                            <label th:for="${technology.getId()}" th:text="${technology.getName()}"></label>
                        </div>
                        <div class="input-field">
                            <input class="submit text-color-turquoise" type="submit" value="Создать">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <input class="back text-color-turquoise" type="button" value="Назад" onclick="window.history.back()">
</footer>
</body>
</html>



