<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="/../../css/styles.css">
  <meta charset="UTF-8">
  <title>BeltamozhHire</title>
</head>
<body>
<div class="navbar">
  <a th:href="@{/user/{user_id} (user_id=${resume.getOwner().getId()})}"><img class="logo" src="/../../img/logo.png"></a>
  <ul>
    <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/show_resumes(id=${user.getId()})}">Resumes</a></li>
    <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/vacancies(id=${user.getId()})}">Vacancies</a></li>
    <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/responds(id=${user.getId()})}">Responds</a></li>
    <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/info(id=${user.getId()})}">Profile</a></li>
    <li><a class="nav-text text-color-turquoise" th:href="@{/logout}">Logout</a></li>
  </ul>
</div>
<div class="content">
  <div class="center">
    <div class="box">
      <div class="resume-container">
        <div class="sub-container">
          <form th:method="PATCH" th:action="@{/user/{user_id}/resumes/resume_details/{resume_id}
          (resume_id=${resume.getId()},user_id=${resume.getOwner().getId()})}" th:object="${resume}" autocomplete="off">
            <div class="header-form-text">
              <header class="text-color-turquoise">Edit</header>
            </div>
            <div class="input-field">
              <label for="name">Name: </label>
              <input class="input text-color-turquoise text-center" type="text"
                     th:field="*{name}" id="name" placeholder="Enter name"/>
            </div>
            <br>
            <input type="hidden" th:field="*{owner}" th:value="${resume.getOwner().getId()}">
            <div class="input-field">
              <label for="name">Desired position: </label>
              <input class="input text-color-turquoise text-center" type="text" th:field="*{desiredPosition}"
                     id="desiredPosition" placeholder="Enter desired position"/>
            </div>
            <br>
            <div class="input-field">
              <label for="skillLevel">Choose your skill level: </label>
              <select id="skillLevel" class="text-color-turquoise text-center" th:field="*{skillLevel}">
                <div th:each="skillLevel : ${skillLevels}">
                  <option class="text-color-turquoise text-center"
                          th:value="${skillLevel.getId()}"
                          th:text="${skillLevel.getName()}"
                          th:selected="${resume.getSkillLevel().getId() == skillLevel.getId()}">
                  </option>
                </div>
              </select>
            </div>
            <br>
            <div class="input-field">
              <label for="desiredSalary">Desired salary($): </label>
              <input class="input text-color-turquoise text-center" type="number"
                     th:field="*{desiredSalary}" id="desiredSalary" placeholder="Enter desired salary"/>
            </div>
            <br>
            <div class="input-field">
              <label for="about">About: </label>
              <textarea id="about" class="input text-color-turquoise text-center about-input"
                        th:field="*{about}" placeholder="Enter about"/>
            </div>
            <br>
            <label>Choose technologies you know: </label>
            <div th:each="technology :${technologies}">
              <input type="checkbox" th:field="*{technologies}" th:value="${technology.getId()}"
                     th:checked="${resume.getTechnologies().contains(technology)}"/>
              <label th:for="${technology.getId()}" th:text="${technology.getName()}">Enter password: </label>
              <br>
            </div>
            <div class="input-field">
              <input class="submit text-color-turquoise" type="submit" value="Edit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <input class="back text-color-turquoise" type="button" value="Back" onclick="window.history.back()">
</footer>
</body>
</html>


