<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${resume.name()}">Name</h1>
    <p th:text="${resume.desiredPosition()}"></p>
    <p th:text="${resume.skillLevel().name()}"></p>
    <p th:text="${resume.desiredSalary()}"></p>
    <p th:text="${resume.about()}"></p>
    <div th:each="technology : ${resume.technologies()}">
        <p th:text="${technology.name()}">user</p>
    </div>
    <input type="button" value="Back" onclick="window.history.back()">
    <a th:href="@{/user/{user_id}/resumes/resume_details/{resume_id}/edit (resume_id=${resume.id()}, user_id=${resume.owner().id()})}">Edit</a>
    <form th:method="DELETE" th:action="@{/user/{user_id}/resumes/resume_details/{resume_id}/delete
     (resume_id=${resume.id()}, user_id=${resume.owner().id()})}">
        <input type="submit" value="Delete"/>
    </form>
</body>
</html>