<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/../../css/styles.css">
    <meta charset="UTF-8">
    <title>BeltamozhHire</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/user/{user_id} (user_id=${user.getId()})}"><img class="logo" src="/../../img/logo.png"></a>
    <ul>
        <li><a class="nav-text text-color-turquoise" th:href="@{resumes}">Резюме</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{vacancies}">Вакансии</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{responds}">Ответы HR</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{info}">Профиль</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/logout}">Выйти</a></li>
    </ul>
</div>
<div class="content">
    <div class="center">
        <div th:each="resume : ${resumes}">
            <div class="box">
                <div class="container">
                    <div class="sub-container">
                        <form class="text-center" th:method="GET" th:action="@{/user/{user_id}/resumes/resume_details/{resume_id}
                                         (resume_id=${resume.getId()}, user_id=${resume.getOwner().getId()})}">
                            <div class="header-form-text">
                                <header class="text-color-turquoise" th:text="${resume.getName()}">Name</header>
                            </div>
                            <p class="label-text">Уровень знаний: </p>
                            <p th:text="${resume.getSkillLevel().getName()}"></p>
                            <p class="label-text">Желаемая позиция: </p>
                            <p th:text="${resume.getAbout()}"></p>
                            <div class="input-field">
                                <input class="submit text-center text-color-turquoise" type="submit" value="Подробнее">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <form th:method="GET" th:action="@{resumes/new}">
        <input class="back text-center text-color-turquoise" type="button" value="Назад" onclick="window.history.back()">
        <input class="back text-center text-color-turquoise" type="submit" value="Создать">
    </form>
</footer>
</body>
</html>