<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="../css/styles.css">
    <meta charset="UTF-8">
    <title>BeltamozhHire</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/admin}"><img class="logo" src="../img/logo.png"></a>
    <ul>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/users}">Пользователи</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/vacancies}">Вакансии</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/categories}">Категории</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/hr_responses}">Ответы HR</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/skill_levels}">Уровени знаний</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/technologies}">Технологии</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/logout}">Выйти</a></li>
    </ul>
</div>
<div class="content">
    <div class="center">
        <div class="box">
            <div class="container">
                <table class="content-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Наименование</th>
                        <th>Ссылка</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${categories}">
                        <td th:text="${category.getId()}"></td>
                        <td th:text="${category.getName()}"></td>
                        <td><a th:href="@{categories/{id}/edit (id=${category.getId()})}">Изменить</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer>
    <input class="back text-color-turquoise" type="button" value="Назад" onclick="window.history.back()">
</footer>
</body>
</html>