<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/categories/{id} (id=${category.id()})}" th:object="${category}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br>
        <input type="submit" value="Edit">
        <input type="button" value="Back" onclick="window.history.back()">
    </form>
    <form th:method="DELETE" th:action="@{/categories/{id}/delete (id=${category.id()})}">
        <input type="submit" value="Delete"/>
    </form>
</body>
</html>