<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/../../css/styles.css">
    <meta charset="UTF-8">
    <title>BeltamozhHire</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/admin}"><img class="logo" src="/../../img/logo.png"></a>
    <ul>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/users}">Пользователи</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/vacancies}">Вакансии</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/categories}">Категории</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/hr_responses}">Ответы HR</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/skill_levels}">Уровени знаний</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/admin/technologies}">Технологии</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/logout}">Выйти</a></li>
    </ul>
</div>
<div class="content">
    <div class="center">
        <div class="box">
            <div class="resume-container">
                <div class="sub-container">
                    <form th:method="PATCH" th:action="@{/admin/vacancies/{id} (id=${vacancy.getId()})}"
                          th:object="${vacancy}" autocomplete="off">
                        <div class="header-form-text">
                            <header class="text-color-turquoise">Изменить</header>
                        </div>
                        <div class="input-field">
                            <label for="name">Введите название вакансии:</label>
                            <input class="input text-color-turquoise text-center" type="text"
                                   th:field="*{name}" id="name" placeholder="Введите название вакансии"/>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('name')}"
                             th:errors="*{name}">Name Error</div>
                        <br>
                        <div class="input-field">
                            <label for="about">Введите описание вакансии:</label>
                            <textarea id="about" class="input text-color-turquoise text-center about-input"
                                      th:field="*{about}" placeholder="Введите описание вакансии"/>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('about')}"
                             th:errors="*{about}">About Error</div>
                        <br>
                        <div class="input-field">
                            <label for="estimatedSalary">Введите предпологаемую зарплату($):</label>
                            <input id="estimatedSalary" class="input text-color-turquoise text-center" type="number"
                                   th:field="*{estimatedSalary}" placeholder="Введите предпологаемую зарплату"/>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('estimatedSalary')}"
                             th:errors="*{estimatedSalary}">Estimated salary Error</div>
                        <br>
                        <div class="input-field">
                            <label for="skillLevel">Выберите требуемый уровень знаний:</label>
                            <select class="text-color-turquoise text-center" id="skillLevel" th:field="*{requiredSkillLevel}">
                                <option class="text-color-turquoise text-center" th:each="skillLevel : ${skillLevels}"
                                        th:value="${skillLevel.getId()}"
                                        th:text="${skillLevel.getName()}"
                                        th:selected="${vacancy.getRequiredSkillLevel().getId() == skillLevel.getId()}">
                                </option>
                            </select>
                        </div>
                        <br>
                        <div class="input-field">
                            <label for="requiredWorkingExperience">Введите требуемый опыт работы(в годах):</label>
                            <input id="requiredWorkingExperience"
                                   class="input text-color-turquoise text-center" type="number"
                                   th:field="*{requiredWorkingExperience}"
                                   placeholder="Введите требуемый опыт"/>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('requiredWorkingExperience')}"
                             th:errors="*{requiredWorkingExperience}">Required working experience Error</div>
                        <br>
                        <div class="input-field">
                            <label>Выберите технологии для вакансии: </label>
                            <div th:each="technology :${technologies}">
                                <input type="checkbox"
                                       th:field="*{technologies}" th:value="${technology.getId()}"
                                       th:checked="${vacancy.getTechnologies().contains(technology)}"/>
                                <label th:for="${technology.getId()}" th:text="${technology.getName()}"></label>
                            </div>
                        </div>
                        <div class="input-field">
                            <input class="submit text-color-turquoise" type="submit" value="Изменить">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <input class="back text-color-turquoise" type="button" value="Назад" onclick="window.history.back()">
</footer>
</body>
</html>







