<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hrResponse : ${hrResponses}">
            <td th:text="${hrResponse.id()}"></td>
            <td th:text="${hrResponse.name()}"></td>
            <td><a th:href="@{hr_responses/{id}/edit (id=${hrResponse.id()})}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>