<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <title>BeltamozhHire</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/admin}"><img class="logo" src="../img/logo.png"></a>
    <ul>
        <li><a class="nav-text text-color-turquoise" th:href="@{admin/users}">Users</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{admin/vacancies}">Vacancies</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{admin/categories}">Categories</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{admin/hr_responses}">HR Responses</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{admin/skill_levels}">Skill levels</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{admin/technologies}">Technologies</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/logout}">Logout</a></li>
    </ul>
</div>
<div class="content text-center">
    <h1>Welcome to admin side of BeltamozhHire</h1>
    <p class="label-text">Here you can manage your databases</p>
</div>
</body>
</html>