<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:method="POST" th:action="@{/}" th:object="${user}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br>
        <label for="login">Enter login: </label>
        <input type="text" th:field="*{login}" id="login"/>
        <br>
        <label for="password">Enter password: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <br>
        <input type="submit" value="register">
    </form>
</body>
</html>