<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <title>BeltamozhHire</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <a th:href="@{/}"><img class="logo" src="../img/logo.png"></a>
            <ul>
                <li><a class="nav-text text-color-turquoise" th:href="@{login}">Login</a></li>
                <li><a class="nav-text text-color-turquoise" th:href="@{registration}">Register</a></li>
                <li><a class="nav-text text-color-turquoise" href="about/about.pdf" download="about.pdf">About</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="box">
                <div class="container">
                    <div class="sub-container">
                        <form th:method="POST" th:action="@{/}" th:object="${user}" autocomplete="off">
                            <div class="header-form-text">
                                <span class="text-color-turquoise">Don't have an account?</span>
                                <header class="text-color-turquoise">Register</header>
                            </div>
                            <div class="input-field">
                                <input class="input text-color-turquoise text-center" type="text" th:field="*{name}" id="name" placeholder="Enter name"/>
                            </div>
                            <br>
                            <div class="input-field">
                                <input class="input text-color-turquoise text-center" type="text" th:field="*{login}" id="login" placeholder="Enter login"/>
                            </div>
                            <br>
                            <div class="input-field">
                                <input class="input text-color-turquoise text-center" type="text" th:field="*{password}" id="password" placeholder="Enter password"/>
                            </div>
                            <div class="input-field">
                                <input class="submit text-color-turquoise" type="submit" value="Register">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>