<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/../../css/styles.css">
    <meta charset="UTF-8">
    <title>BeltamozhHire</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/hr}"><img class="logo" src="/../../img/logo.png"></a>
    <ul>
        <li><a class="nav-text text-color-turquoise" th:href="@{hr/vacancies}">Вакансии</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/logout}">Выйти</a></li>
    </ul>
</div>
<div class="content text-center">
    <h1>Добро пожаловать на сторону рекрутера BeltamozhHire</h1>
    <p class="label-text">Здесь вы можете управлять вакансиями и отвечать разработчикам</p>
</div>
</body>
</html>