<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="resume : ${resumeResponse}">
        <h1 th:text="${resume.getResume().getName()}">Name</h1>
        <p th:text="${resume.getResume().getDesiredPosition()}"></p>
        <p th:text="${resume.getResume().getSkillLevel().getName()}"></p>
        <p th:text="${resume.getResume().getDesiredSalary()}"></p>
        <p th:text="${resume.getResume().getAbout()}"></p>
        <div th:each="technology : ${resume.getResume().getTechnologies()}">
            <p th:text="${technology.getName()}">user</p>
        </div>
    </div>
</body>
</html>