<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${vacancy.getName()}">Name</h1>
    <p th:text="${vacancy.getAbout()}"></p>
    <p th:text="${vacancy.getEstimatedSalary()}"></p>
    <p th:text="${vacancy.getRequiredSkillLevel().getName()}"></p>
    <p th:text="${vacancy.getRequiredWorkingExperience()}"></p>
    <div th:each="technology : ${vacancy.getTechnologies()}">
        <p th:text="${technology.getName()}">user</p>
    </div>
    <a th:href="@{{vacancy_id}/edit (vacancy_id=${vacancy.getId()})}">Edit</a>
    <form th:method="DELETE" th:action="@{{vacancy_id}/delete (vacancy_id=${vacancy.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</body>
</html>