<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/../../css/styles.css">
    <meta charset="UTF-8">
    <title>BeltamozhHire</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/user/{user_id} (user_id=${user.getId()})}"><img class="logo" src="/../../img/logo.png"></a>
    <ul>
        <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/show_resumes(id=${user.getId()})}">Resumes</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/vacancies(id=${user.getId()})}">Vacancies</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/responds(id=${user.getId()})}">Responds</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/info(id=${user.getId()})}">Profile</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/logout}">Logout</a></li>
    </ul>
</div>
<div class="content">
    <div class="center">
        <div class="box">
            <div class="resume-container">
                <div class="sub-container text-center">
                    <div class="header-form-text">
                        <header class="text-color-turquoise"
                                th:text="${resumeResponse.getVacancy().getName()}">Name</header>
                    </div>
                    <p class="label-text">About: </p>
                    <p th:text="${resumeResponse.getVacancy().getAbout()}"></p>
                    <p class="label-text">Estimated salary($): </p>
                    <p th:text="${resumeResponse.getVacancy().getEstimatedSalary()}"></p>
                    <p class="label-text">Required skill level: </p>
                    <p th:text="${resumeResponse.getVacancy().getRequiredSkillLevel().getName()}"></p>
                    <p class="label-text">Required working experience(years): </p>
                    <p th:text="${resumeResponse.getVacancy().getRequiredWorkingExperience()}"></p>
                    <p class="label-text">Technologies: </p>
                    <div th:each="technology : ${resumeResponse.getVacancy().getTechnologies()}">
                        <p th:text="${technology.getName()}">user</p>
                    </div>
                    <p class="label-text">Hr response: </p>
                    <p class="response-text" th:text="${resumeResponse.getHrResponse().getName()}">Response</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <input class="back text-color-turquoise" type="button" value="Back" onclick="window.history.back()">
</footer>
</body>
</html>