<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/../../css/styles.css">
    <meta charset="UTF-8">
    <title>BeltamozhHire</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/user/{user_id} (user_id=${user.getId()})}"><img class="logo" src="/../../img/logo.png"></a>
    <ul>
        <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/show_resumes(id=${user.getId()})}">Резюме</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/vacancies(id=${user.getId()})}">Вакансии</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/responds(id=${user.getId()})}">Ответы HR</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/user/{id}/info(id=${user.getId()})}">Профиль</a></li>
        <li><a class="nav-text text-color-turquoise" th:href="@{/logout}">Выйти</a></li>
    </ul>
</div>
<div class="content">
    <div class="center">
            <div class="box">
                <div class="container">
                    <div class="sub-container">
                        <form class="text-center" th:method="POST" th:action="@{options/apply}" th:object="${sortOptions}"
                              autocomplete="off">
                            <div class="input-field">
                                <label for="filterText">Поиск:</label>
                                <input class="input text-color-turquoise text-center" type="text"
                                       th:field="*{textToFilter}" id="filterText" placeholder="Текст"/>
                            </div>
                            <div class="input-field">
                                <label for="sortField">Sort field:</label>
                                <select id="sortField" class="text-color-turquoise text-center" th:field="*{fieldToSort}">
                                    <option class="text-color-turquoise text-center" value="">Нет</option>
                                    <option class="text-color-turquoise text-center" value="name">Название</option>
                                    <option class="text-color-turquoise text-center" value="about">О вакансии</option>
                                    <option class="text-color-turquoise text-center" value="estimatedSalary">Предпологаемая зарплата</option>
                                    <option class="text-color-turquoise text-center" value="requiredWorkingExperience">Требуемый опыт работы</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <input class="submit text-color-turquoise text-center" type="submit" value="Принять">
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
<footer>
    <input class="back text-color-turquoise" type="button" value="Назад" onclick="window.history.back()">
</footer>
</body>
</html>